
html, body {
    width:auto;
    height:auto;
}

.caption {
    position: absolute;
    bottom: 5%;
    right: 5%;
    text-align: right;
    color: #fff;
}
p, h1 { margin: 0; }
h1 { margin-bottom: 0.2em; }
p { line-height: 1.333em; }
 
/* full width/height container */
#slides-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
 
/* double the height/width of a viewport */
#slides {
    width: 200%;
    height: 200%;
    position: fixed;
    top: 0;
    left: 0;
}
.slide {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:50%;
}
#slide-1 {
    background: url('../img/featured.jpg') no-repeat center center;
    background-size: cover;
}
#slide-1 .caption {
    top:30%;
    right: 73%;
    color: black;
}
#slide-2 {
    background: url('../img/featured.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(100%,0%);
    -ms-transform: translate(100%,0%);
    transform: translate(100%,0%);
}
#slide-2 .caption {
    top:30%;
    right: 59%;
    color: black;
}
#slide-3 {
    background: url('../img/featured.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(200%,0%);
    -ms-transform: translate(200%,0%);
    transform: translate(200%,0%);
}
#slide-3 .caption {
    top:30%;
    right: 40%;
    color: black;
}
#slide-4 {
    background: url('../img/featured.jpg') no-repeat center center;
    background-size: cover;
    -webkit-transform: translate(300%,0%);
    -ms-transform: translate(300%,0%);
    transform: translate(300%,0%);
}
#slide-4 .caption {
    right: 20%;
    top: 30%;
    bottom: auto;
    color: black;
}

#helper {
    position:absolute;
    left:0;
    top: 0;
    height:600%;
    width: 0;
}

